{% extends 'hydrogen/layout.html' %}

{% block title %}Scoreboard: {{ test }}{% endblock %}
{% block layout-content %}
<h2>{{ test }}</h2>
<h3>Live admin scoreboard</h3>

{% if test.accepting_submissions %}
<p>This test is still accepting submissions, so be careful!.</p>
{% else %}
<p>This test is not currently accepting new submissions.</p>
{% endif %}

<table class="table">
	<tr>
		<th scope="col">#</th>
		<th scope="col">Score</th>
		<th scope="col">Breakdown</th>
		<th scope="col">Name</th>
	</tr>
	{% for row in rows %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td><b>{{ row.total }}</b></td>
		<td style="font-family:monospace;">{% for x in row.scores %}{% if x %}*{% else %}.{% endif %}{% endfor %}</td>
		<td><a href="{% url 'compete' row.id %}">{{ row.name }}</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
