{% extends 'layout.html' %}
{% block layout-content %}
<p><b>Hydrogen</b> is a lightweight application
designed to host short-answer math contests.
It was originally developed for HMMT by Yang Liu and Evan Chen.</p>

<hr />

<h3>Instructions</h3>
<p>Here are some hints on how to use the system.</p>
<ol>
	<li>To get started go to
	<a href="{% url 'active' %}">Active Contests</a>;
	you can then enter any contest for which the window has started.</li>
	<li>You do <i>not</i> need to register a user account to participate.
	When you enter a contest, you will be asked for just a name and email
	(no password), and once you submit this information
	the timer will start automatically.</li>
	<li>When you enter a contest,
		you will be given a special link to a page
		where you can enter answers.
		We use this link in lieu of an account/password system,
		so be careful not to lose it.</li>
	<li>The format of contests may vary; see each contest for
		more information.
		In general, each contest will have a time limit
		and a set of problems with fixed weights.</li>
</ol>
<hr />

<h3>Organizations using Hydrogen</h3>
<p>This is a list of organizations hosted on this server.</p>

<ul>
{% for object in object_list %}
<li><b><a href="{{ object.get_absolute_url }}">{{ object }}</a></b>
    <p>{{ object.short_description|safe }}</p>
</li>
{% endfor %}
</ul>

{% endblock %}
