{% extends 'layout.html' %}
{% block layout-content %}
<h2>{{object}}</h2>
{% if object.external_url %}
<p><a href="{{ object.external_url }}">{{ object.external_url }}</a></p>
{% endif %}

{% if num_active == 0 %}
<p>There are currently no active contests for {{ object }}.</p>
{% else %}
<p><i>
	Go to <a href="{% url "active" %}">Active Tests</a> to join a contest.
	{% if num_active == 1 %}
	There is currently <b>1</b> active contest for {{ object }}.
	{% else %}
	There are currently <b>{{ num_active }}</b> active contests for {{ object }}.
	{% endif %}
</i></p>
{% endif %}

<hr />
{{ object.verbose_description|safe }}

<hr />
<p><a href="{% url 'org-index' %}">Back to home</a></p>
{% if request.user.is_staff %}
<p><a href="{% url 'admin:core_organization_change' object.id %}">
	Edit this org</a></p>
{% endif %}

{% endblock %}
